<% content_for :navbar do %>
      <%= render 'shared/navbar_white' %>
 <% end %>

<div class="container">
  <h1>Edit the <%= @listing.name %> listing</h1>

  <%= simple_form_for @listing do |f| %>
    <%= f.input :name %>
    <%= f.input :price_per_night %>
    <%= f.input :gender %>
    <%= f.input :category %>
    <%= f.input :size %>
    <%= f.input :description, as: :text %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
