<% content_for :navbar do %>
      <%= render 'shared/navbar_white' %>
 <% end %>

  <div class="container">

    <h1>Listings
      <% if !@search.nil? %>
      for:
      <%= @search %>
      <% end %>
    </h1>

    <div class="listings-container">

      <% @listings.each do |listing| %>
        <div class="card_price-container" >
          <p  class=card-index-price> £ <%= listing.price_per_night %> per night</p>
          <%= link_to listing_path(listing.id) do%>
            <div class="card-index "style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path listing.photos.first.key%>')">
              <div class="content">
                <h2 class="title"><%= listing.name %></h2>
                <p class="card-index-info"><%= listing.description %></p>
                <p class="card-index-info">Size: <%= listing.size %></p>
              </div>
            </div>
        </div>


        <% end %>
      <% end %>

    </div>
  </div>

