<% content_for :navbar do %>
      <%= render 'shared/navbar_white' %>
 <% end %>

<div class="containers">
<h1>My Listings</h1>

<ul>
  <% @listings.each do |listing| %>
  <%=link_to listing_path(listing.id) do %>
      <li>
        <%= listing.name %>, <%= listing.category %>
        <%= link_to listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash"></i>
        <% end %>
          <%= link_to edit_listing_path(listing) do %>
          <i class="fas fa-pen"></i>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Add a listing", new_listing_path(), class: "btn btn-primary" %>
</div>
