
<% content_for :navbar do %>
      <%= render 'shared/navbar_white' %>
 <% end %>

<div class="container">


  <h2 class="mb-4">My new booking requests</h2>
    <%# pending = 0 %>
    <%# confirmed = 0 %>
    <%# listings = 0 %>

    <div class="my-rentings-container">
      <% @listings.each do |listing| %>

        <%listing.bookings.each do |booking| %>
          <% if booking.confirmed.nil? %>

              <div class="card_price-container">

                <div  class="borrower-info">
                  <p><%=booking.user.first_name %> <%= booking.user.last_name %> </p>
                  <p><i class="fas fa-graduation-cap"></i> <%=booking.user.university %></p>
                  <p><i class="far fa-envelope"></i> <%=booking.user.email%></p>
                </div>

                <p class="text-center request_to_borrow">Requests To Borrow</p>

                <%= link_to listing_path(listing.id) do%>

                  <div class="card-my-listing card-no-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path listing.photos.first.key%>')">
                    <div class="content">
                      <h2 class="title"><%= listing.name %></h2>
                      <p class="card-my-listing-info"><%= listing.description %></p>
                      <p class="card-my-listing-info"><%= listing.category %></p>
                    </div>
                  </div>

                <% end %>

                <p class="text-center request_to_borrow">From</p>
                <div class="borrower-duration">
                  <div id="booking-duration-text" class="pt-3">
                    <p>Start: <i class="far fa-calendar-alt"></i> <%=booking.start_date%> </p>
                    <p>End: <i class="far fa-calendar-alt"></i> <%=booking.end_date %></p>
                  </div>

                </div>

                  <%= link_to booking_confirm_path(booking.id), method: :patch, data: { confirm: 'Are you sure you want to accept?'}, class: "btn btn-success" do %>
                    Confirm
                  <% end %>
                  <%= link_to booking_decline_path(booking.id), method: :patch, data: { confirm: 'Are you sure you want to decline?'}, class: "btn btn-danger" do %>
                    Decline
                    <%# pending += 1 %>
                  <% end %>

              </div>

          <% end %>
        <% end %>
      <% end %>
    <%# if pending == 0 %>
      <!-- <p>No pending Requests</p> -->
    <%# end %>
  </div>



<%# CONFIRMED BOOKINGS %>




  <h2>My confirmed booking requests</h2>

  <% @listings.each do |listing| %>
    <%listing.bookings.each do |booking| %>
      <% if booking.confirmed == true %>
        <p><%=booking.listing.name %></p>
        <p><%=booking.start_date%> - <%=booking.end_date %></p>
        <p><%=booking.user.first_name %> <%= booking.user.last_name %> @ <%=booking.user.university %></p>
        <p>Contact: <%=booking.user.email%></p>
        <%# confirmed += 1 %>
      <% end %>
    <% end %>
  <% end %>
  <%# if pending == 0 %>
    <!--<p>No confirmed bookings</p> -->
  <%# end %>



<%# MY RENTINGS %>



  <h2>My rented out items</h2>
  <div class="my-rentings-container">
    <% @listings.each do |listing| %>
        <%listing.bookings.each do |booking| %>
          <% if booking.confirmed == true %>


            <div class="card_price-container">

              <p  class=card-my-listing-price> $ <%= listing.price_per_night %> per night</p>

              <%= link_to listing_path(listing.id) do%>

                <div class="card-my-listing card-no-shadow " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path listing.photos.first.key%>')">
                  <div class="content">
                    <h2 class="title"><%= listing.name %></h2>
                    <p class="card-my-listing-info"><%= listing.description %></p>
                    <p class="card-my-listing-info"><%= listing.category %></p>
                  </div>
                </div>

              <% end %>

              <div class="renter-information">
                <div id="booking-duration-text" class="pt-3">
                  <p>Start: <i class="far fa-calendar-alt"></i> <%=booking.start_date%> </p>
                  <p>End: <i class="far fa-calendar-alt"></i> <%=booking.end_date %></p>
                </div>
                <p><i class="fas fa-user"></i> <%=booking.user.first_name %> <%= booking.user.last_name %> </p>
                <p><i class="fas fa-graduation-cap"></i> <%=booking.user.university %></p>
                <p><i class="far fa-envelope"></i> <%=booking.user.email%></p>

              </div>
            </div>




          <% end %>

          <%# listings += 1 %>
        </li>
      <% end %>
    <% end %>

    <%# if listings == 0 %>
      <!--<p>No Listings Requests</p> -->
    <%# end %>
  </div>






<%# MY LISTINGS %>

  <div class="d-flex mt-4 mb-4">
    <h2 class="mr-3">My Current Listings</h2>
    <%= link_to "Add a listing", new_listing_path(), class: "btn btn-primary add_a_listing" %>
  </div>

  <div class="my-listings-container">

    <% @listings.each do |listing| %>
      <div class="card_price-container">

        <%= link_to edit_listing_path(listing) do %>
          <i class="fas fa-pen" id="edit_button"></i>
        <% end %>

        <i class="fas fa-trash delete-button" id="delete_button" data-id="<%= listing.id %>"></i>
        <%= link_to "", listing_path(listing.id), method: :delete, class: "hidden", id: dom_id(listing) %>

        <p  class=card-my-listing-price> $ <%= listing.price_per_night %> per night</p>

        <%= link_to listing_path(listing.id) do%>

          <div class="card-my-listing " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path listing.photos.first.key%>')">
            <div class="content">
              <h2 class="title"><%= listing.name %></h2>
              <p class="card-my-listing-info"><%= listing.description %></p>
              <p class="card-my-listing-info"><%= listing.category %></p>
            </div>
          </div>

        <% end %>

      </div>
    <% end %>

  </div>

</div>
