<% content_for :navbar do %>
      <%= render 'shared/navbar_white' %>
 <% end %>

<div class="containers">

  <h2>My Booking requests</h2>

  <% @listings.each do |listing| %>
      <%listing.bookings.each do |booking| %>
        <% if booking.confirmed.nil? %>
          <p><%=booking.listing.name %></p>
          <p><%=booking.start_date%> - <%=booking.end_date %></p>
          <p><%=booking.user.first_name %> <%= booking.user.last_name %> @ <%=booking.user.university %></p>
          <p>Contact: <%=booking.user.email%></p>
          <%= link_to booking_confirm_path(booking.id), method: :patch, data: { confirm: 'Are you sure you want to accept?'}, class: "btn btn-success" do %>
            Confirm
          <% end %>
          <%= link_to booking_decline_path(booking.id), method: :patch, data: { confirm: 'Are you sure you want to decline?'}, class: "btn btn-danger" do %>
            Decline
          <% end %>

        <% end %>
    <% end %>
  <% end %>

  <h2>My rented out items</h2>

  <% @listings.each do |listing| %>
      <%listing.bookings.each do |booking| %>
        <% if booking.confirmed == true %>
          <p><%=booking.listing.name %></p>
          <p><%=booking.start_date%> - <%=booking.end_date %></p>
          <p><%=booking.user.first_name %> <%= booking.user.last_name %> @ <%=booking.user.university %></p>
          <p>Contact: <%=booking.user.email%></p>
        <% end %>
    <% end %>
  <% end %>

  <h2>My Listings</h2>


  <ul>
    <% @listings.each do |listing| %>
    <%=link_to listing_path(listing.id) do %>
        <li>
          <%= listing.name %>, <%= listing.category %>
          <%= link_to listing_path(listing), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash"></i>
          <% end %>
            <%= link_to edit_listing_path(listing) do %>
            <i class="fas fa-pen"></i>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= link_to "Add a listing", new_listing_path(), class: "btn btn-primary" %>
</div>
