
<% content_for :navbar do %>
      <%= render 'shared/navbar_white' %>
 <% end %>

<div class="container">
<h1>My Listings</h1>


<div class="title-bookings pt-3">
  <h2 class="mb-4">My new booking requests</h2>
</div>

    <div class="my-rentings-container">
      <% @listings.each do |listing| %>
        <%listing.bookings.each do |booking| %>
          <% if booking.confirmed.nil? %>

              <div class="card_price-container">
                <div  class="borrower-info">
                  <p><%=booking.user.first_name %> <%= booking.user.last_name %> </p>
                  <p><i class="fas fa-graduation-cap"></i> <%=booking.user.university %></p>
                  <p><i class="far fa-envelope"></i> <%=booking.user.email%></p>
                </div>

                <%= link_to listing_path(listing.id) do%>

                  <div class="card-my-booking card-no-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path listing.photos.first.key%>')">
                    <div class="content">
                      <h2 class="title"><%= listing.name %></h2>
                      <p class="card-my-listing-info"><%= listing.description %></p>
                      <p class="card-my-listing-info"><%= listing.category %></p>
                    </div>
                  </div>

                <% end %>

                <div class="owner-information">
                    <div id="booking-duration" class="pt-3">
                      <p>Start: <i class="far fa-calendar-alt"></i> <%= booking.start_date %> </p>
                      <p>End: <i class="far fa-calendar-alt"></i> <%= booking.end_date %></p>
                    </div>

                </div>
                  <div class= "confirmation-buttons">
                    <%= link_to booking_confirm_path(booking.id), method: :patch, data: { confirm: 'Are you sure you want to accept?'}, class: "btn btn-success confirm-button" do %>
                      Confirm
                    <% end %>

                    <%= link_to booking_decline_path(booking.id), method: :patch, data: { confirm: 'Are you sure you want to decline?'}, class: "btn btn-danger" do %>
                      Decline
                    <% end %>
                  </div>
              </div>
          <% end %>
        <% end %>
      <% end %>
  </div>



<%# CONFIRMED BOOKINGS %>



<div class="title-bookings pt-3">
  <h2 class="mb-4">My confirmed booking requests</h2>
</div>

    <div class="my-rentings-container">
      <% @listings.each do |listing| %>

        <%listing.bookings.each do |booking| %>
          <% if booking.confirmed == true %>

              <div class="card_price-container">
                <div  class="borrower-info">
                  <p><%=booking.user.first_name %> <%= booking.user.last_name %> </p>
                  <p><i class="fas fa-graduation-cap"></i> <%=booking.user.university %></p>
                  <p><i class="far fa-envelope"></i> <%=booking.user.email%></p>
                </div>

                <%= link_to listing_path(listing.id) do%>

                  <div class="card-my-booking card-no-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path listing.photos.first.key%>')">
                    <div class="content">
                      <h2 class="title"><%= listing.name %></h2>
                      <p class="card-my-listing-info"><%= listing.description %></p>
                      <p class="card-my-listing-info"><%= listing.category %></p>
                    </div>
                  </div>

                <% end %>

                <div class="owner-information">
                    <div id="booking-duration" class="pt-3">
                      <p>Start: <i class="far fa-calendar-alt"></i> <%= booking.start_date %> </p>
                      <p>End: <i class="far fa-calendar-alt"></i> <%= booking.end_date %></p>
                    </div>

                </div>
                  <div class= "confirmed-booking-bottom">
                    <p>Confirmed</p>
                  </div>
              </div>

          <% end %>
        <% end %>
      <% end %>
  </div>


<%# MY LISTINGS %>



  <div class="title-bookings pt-3">
    <h2 class="mr-3">My Current Listings</h2>
  </div>

  <div class="my-listings-container">

    <% @listings.each do |listing| %>
      <div class="card_price-container">

        <%= link_to edit_listing_path(listing) do %>
          <i class="fas fa-pen" id="edit_button"></i>
        <% end %>

        <i class="fas fa-trash delete-button" id="delete_button" data-id="<%= listing.id %>"></i>
        <%= link_to "", listing_path(listing.id), method: :delete, class: "hidden", id: dom_id(listing) %>

        <p  class=card-my-listing-price> $ <%= listing.price_per_night %> per night</p>

        <%= link_to listing_path(listing.id) do%>

          <div class="card-my-listing " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path listing.photos.first.key%>')">
            <div class="content">
              <h2 class="title"><%= listing.name %></h2>
              <p class="card-my-listing-info"><%= listing.description %></p>
              <p class="card-my-listing-info"><%= listing.category %></p>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>

  </div>

</div>
