<% content_for :navbar do %>
      <%= render 'shared/navbar_white' %>
 <% end %>

<div class="container">

  <div class="listing-container">
    <div class="primary-image">
      <% @listing.photos.each do |photo| %>
  <%= cl_image_tag photo.key %>
<% end %>
    </div>
    <div class="listing-info">
      <div class="listing-box">
        <h2><%= @listing.name %></h2>
        <h3><%= @listing.description%></h3>
        <p> Size: <%= @listing.size%></p>
        <p> Price per night: £ <%= @listing.price_per_night%></p>

        <% if !current_user.nil? && @listing.user == current_user%>
        <%= link_to edit_listing_path(@listing) do %>
        <p><i class="fas fa-pen"></i> Edit</p>
        <% end %>
        <% end %>

        <br>

        <h3 style="font-weight: bold; text-align: center;">Lender details:</h3>
        <div class="lender-info">
          <div class="lender-text">
            <p>Name: <%=@listing.user.first_name%> <%=@listing.user.last_name %></p>
            <p>University: <%= @listing.user.university %></p>
          </div>

          <div class="lender-image">
            <%= image_tag "brian", class: "avatar" %>
          </div>
        </div>
      </div>
      <div class="form">
        <% if @listing.user == current_user %>
        <% else %>
          <h1>Make a booking</h1>

          <% if flash[:errors].present?  %>
            <% if flash[:errors][:overlaps_with_other].present? %>
              <p><%= flash[:errors][:overlaps_with_other][0] %></p>
              <p>hello</p>
            <% end %>
          <% end %>

          <% if current_user.nil? %>
            <%= link_to "Login to make a booking", new_user_session_path, class: "btn btn-primary" %>
          <% else %>
            <%= simple_form_for [@listing,@booking] do |f| %>
              <%= f.input :start_date, html5: true %>

              <div class="error_message">
                <% if flash[:errors].present?  %>
                  <% if flash[:errors][:overlaps_with_other].present? %>
                    <p><%= flash[:errors][:overlaps_with_other][0] %></p>
                    <p>hello</p>
                  <% end %>
                  <% if flash[:errors]["start_date"].present? %>
                   <% if flash[:errors]["start_date"][0] == "not available" %>
                    <p> Start Date <%= flash[:errors]["start_date"][0] %> </p>
                   <% else %>
                    <%= flash[:errors]["start_date"][0] %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>

              <%= f.input :end_date, html5: true %>

              <div class="error_message">
                <% if flash[:errors].present?  %>
                  <% if flash[:errors]["end_date"].present? %>
                    <% if flash[:errors]["end_date"][0] == "not available" %>
                      <p> End Date <%= flash[:errors]["end_date"][0] %> </p>
                    <% else %>
                      <%= flash[:errors]["end_date"][0] %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>

              <%= f.button :submit, class: "btn btn-success" %>
           <% end %>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>

  <div class="reviews-container">
    <h2>Reviews:</h2>
    <p>
      <% @reviews.each do |review| %>
        <strong><%=review.user.first_name%> <%=review.user.last_name%></strong> gives <%= '⭐️' * review.rating %>, says <i>"<%= review.content %>"</i>
      </p>
      <% end unless @reviews.nil? %>
  </div>

<% if current_user.nil? %>
<%= link_to "See all listings", listings_path , class: "btn btn-primary" %>
<% else %>
<%= link_to "See all listings", listings_path , class: "btn btn-primary" %>
<%= link_to "Back to my listings", my_listings_path , class: "btn btn-primary" %>
<% end %>
</div>
