<% content_for :navbar do %>
    <%= render 'shared/navbar_white' %>
<% end %>

<div class="container">
  <% if current_user.nil? %>
    <%= link_to "See all listings", listings_path , class: "btn btn-primary see-all-listings" %>
  <% elsif current_user == @listing.user && !current_user.nil?%>
    <%= link_to "See all listings", listings_path , class: "btn btn-primary see-all-listings" %>
    <%= link_to my_listings_path , class: "btn btn-primary see-all-listings" do %>
    <p class="mb-0"><i class="fas fa-arrow-left"></i> Back to my listings</p>
    <% end %>
  <% else %>
    <%= link_to "See all listings", listings_path , class: "btn btn-primary see-all-listings" %>
  <% end %>

  <div class="listing-container">
    <div class="primary-image">
      <%= cl_image_tag @listing.photos.first.key %>
    </div>
    <div class="listing-box-show-page">

        <div class="item-info pb-3" style="position:relative; border: none !important;">
          <% if !current_user.nil? && @listing.user == current_user%>
          <%= link_to edit_listing_path(@listing) do %>
            <p id="show-edit" style="position: absolute; top: 2px; right: 2px;"><i class="fas fa-pen"></i></p>
          <% end %>
          <% end %>
          <h2><%= @listing.name %></h2>
            <div class="border-bottom" style="display:flex; justify-content: center;">
            <p class="mr-4"> <strong><i class="fas fa-ruler"></i></strong> Size: <%= @listing.size%></p>
            <p class="ml-4 pb-2"><strong>£ <%= @listing.price_per_night%></strong> / night</p>
          </div>
          <p class="pt-3"><%= @listing.description%></p>
        </div>
        <h5 class="border-top pt-3" style="font-weight: bold; text-align: center;">Lender details:</h5>
        <div class="lender-info ">

          <div class="lender-image">
            <%= cl_image_tag @listing.user.photo.key, width: 150, height: 150, crop: :fill, gravity: :face, class: "avatar" %>
          </div>
          <div class="lender-text">
            <p><i class="fas fa-user"></i> <%=@listing.user.first_name%> <%=@listing.user.last_name %></p>
            <p><i class="fas fa-graduation-cap"></i> <%= @listing.user.university %></p>
          </div>

        </div>
      </div>
      <% if @listing.user == current_user %>
        <div class="form-empty">
        </div>
      <% else %>
        <div class="form">
          <h2>Make a booking</h2>

          <% if flash[:errors].present?  %>
            <% if flash[:errors][:overlaps_with_other].present? %>
              <p><%= flash[:errors][:overlaps_with_other][0] %></p>
              <p>hello</p>
            <% end %>
          <% end %>

          <% if current_user.nil? %>
            <%= link_to "Login to make a booking", new_user_session_path, class: "btn btn-primary" %>
          <% else %>
            <div id='listing-booking-dates' data-unavailable="<%= @listing.unavailable_dates.to_json %>">
              <%= simple_form_for [@listing,@booking] do |f| %>
                <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>

                <div class="error_message">
                  <% if flash[:errors].present?  %>
                    <% if flash[:errors][:overlaps_with_other].present? %>
                      <p><%= flash[:errors][:overlaps_with_other][0] %></p>
                      <p>hello</p>
                    <% end %>
                    <% if flash[:errors]["start_date"].present? %>
                     <% if flash[:errors]["start_date"][0] == "not available" %>
                      <p> Start Date <%= flash[:errors]["start_date"][0] %> </p>
                     <% else %>
                      <%= flash[:errors]["start_date"][0] %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>

                <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>

                <div class="error_message">
                  <% if flash[:errors].present?  %>
                    <% if flash[:errors]["end_date"].present? %>
                      <% if flash[:errors]["end_date"][0] == "not available" %>
                        <p> End Date <%= flash[:errors]["end_date"][0] %> </p>
                      <% else %>
                        <%= flash[:errors]["end_date"][0] %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>

              <%= f.button :submit, class: "btn btn-success btn-lg justify-content-center" %>
            <% end %>
          <% end %>
        <% end %>
    </div>
    </div>
  </div>


    <div class="reviews-container">
      <h2>Reviews:</h2>
      <p>
        <% @reviews.each do |review| %>
          <strong><%=review.user.first_name%> <%=review.user.last_name%></strong> gives <%= '⭐️' * review.rating %>, says <i>"<%= review.content %>"</i>
          </p>
        <% end unless @reviews.nil? %>
      
    </div>
</div>
