<% content_for :navbar do %>
    <%= render 'shared/navbar_white' %>
<% end %>

<div class="container">
  <% if current_user.nil? %>
    <%= link_to "See all listings", listings_path , class: "btn btn-primary" %>
  <% elsif current_user == @listing.user && !current_user.nil?%>
    <%= link_to "See all listings", listings_path , class: "btn btn-primary" %>
    <%= link_to "Back to my listings", my_listings_path , class: "btn btn-primary" %>
  <% else %>
    <%= link_to "See all listings", listings_path , class: "btn btn-primary" %>
  <% end %>

  <div class="listing-container">
    <div class="primary-image">
      <%= cl_image_tag @listing.photos.first.key %>
    </div>
    <div class="listing-box">
        <div class="item-info">
          <h2><%= @listing.name %></h2>
          <h3><%= @listing.description%></h3>
          <p> Size: <%= @listing.size%></p>
          <p> Price per night: £ <%= @listing.price_per_night%></p>

          <% if !current_user.nil? && @listing.user == current_user%>
          <%= link_to edit_listing_path(@listing) do %>
          <p><i class="fas fa-pen"></i> Edit</p>
          <% end %>
          <% end %>
        </div>


        <br>

        <h3 style="font-weight: bold; text-align: center;">Lender details:</h3>
        <div class="lender-info">
          <div class="lender-image">
            <%= cl_image_tag @listing.user.photo.key, class: "avatar" %>
          </div>
          <div class="lender-text">
            <p><i class="fas fa-user"></i> <%=@listing.user.first_name%> <%=@listing.user.last_name %></p>
            <p><i class="fas fa-graduation-cap"></i> <%= @listing.user.university %></p>
          </div>

        </div>
      </div>
      <% if @listing.user == current_user %>
        <div class="form-empty">
        </div>
      <% else %>
        <div class="form">
          <h2>Make a booking</h2>

          <% if flash[:errors].present?  %>
            <% if flash[:errors][:overlaps_with_other].present? %>
              <p><%= flash[:errors][:overlaps_with_other][0] %></p>
              <p>hello</p>
            <% end %>
          <% end %>

          <% if current_user.nil? %>
            <%= link_to "Login to make a booking", new_user_session_path, class: "btn btn-primary" %>
          <% else %>
            <%= simple_form_for [@listing,@booking] do |f| %>
              <%= f.input :start_date, html5: true %>

              <div class="error_message">
                <% if flash[:errors].present?  %>
                  <% if flash[:errors][:overlaps_with_other].present? %>
                    <p><%= flash[:errors][:overlaps_with_other][0] %></p>
                    <p>hello</p>
                  <% end %>
                  <% if flash[:errors]["start_date"].present? %>
                   <% if flash[:errors]["start_date"][0] == "not available" %>
                    <p> Start Date <%= flash[:errors]["start_date"][0] %> </p>
                   <% else %>
                    <%= flash[:errors]["start_date"][0] %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>

              <%= f.input :end_date, html5: true %>

              <div class="error_message">
                <% if flash[:errors].present?  %>
                  <% if flash[:errors]["end_date"].present? %>
                    <% if flash[:errors]["end_date"][0] == "not available" %>
                      <p> End Date <%= flash[:errors]["end_date"][0] %> </p>
                    <% else %>
                      <%= flash[:errors]["end_date"][0] %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>

              <%= f.button :submit, class: "btn btn-success btn-lg justify-content-center" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="reviews-container">
      <h2>Reviews:</h2>
      <p>
        <% @reviews.each do |review| %>
          <strong><%=review.user.first_name%> <%=review.user.last_name%></strong> gives <%= '⭐️' * review.rating %>, says <i>"<%= review.content %>"</i>
          </p>
        <% end unless @reviews.nil? %>
      </div>
  </div>
</div>
