<div class="container mt-5">
  <h1>My Bookings</h1>
  <% pending = 0 %>
  <% confirmed = 0 %>
  <% declined = 0 %>

  <h2>Upcoming Bookings</h2>
  <ul>
    <% @bookings.each do |booking| %>
        <% if booking.confirmed == true %>
        <%=link_to booking_path(booking.id) do %>
          <li>
            <%= booking.listing.name %>, <%= booking.listing.category %>
            From <%= booking.start_date %> to <%= booking.end_date %>
          </li>
          <% confirmed += 1 %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <% if confirmed = 0 %>
  <p>No Confirmed bookings at the moment</p>
  <% end %>

  <h2>Pending Bookings</h2>
  <ul>
    <% @bookings.each do |booking| %>
      <% if booking.confirmed == nil %>
        <%=link_to booking_path(booking.id) do %>
          <li>
            <%= booking.listing.name %>, <%= booking.listing.category %>
            From <%= booking.start_date %> to <%= booking.end_date %>
          </li>
          <% pending += 1 %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <% if pending = 0 %>
  <p>No Pending bookings at the moment</p>
  <% end %>

  <h2>Declined Bookings</h2>
  <ul>
    <% @bookings.each do |booking| %>
      <% if booking.confirmed == false %>
        <%=link_to booking_path(booking.id) do %>
          <li>
            <%= booking.listing.name %>, <%= booking.listing.category %>
            From <%= booking.start_date %> to <%= booking.end_date %>
          </li>
          <% declined +=1 %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <% if declined = 0 %>
  <p>No Declined bookings at the moment</p>
  <% end %>
</div>
