<% content_for :navbar do %>
      <%= render 'shared/navbar_white' %>
 <% end %>

<div class="container">
  <h1>My Bookings</h1>
  <%# pending = 0 %>
  <%# confirmed = 0 %>
  <%# declined = 0 %>

<!-- Cards should have price, date, name of owner, University -->

<!-- UPCOMING BOOKINS -->
<!-- Carousel, in colour -->
    <div class="title-bookings pt-3">
      <h2>Upcoming Bookings</h2>
    </div>
    <div class="my-bookings-container">
        <% @bookings.each do |booking| %>
          <% if !booking.start_date.past? && booking.confirmed == true %>

              <div class="card_price-container">
                <p  class=card-my-booking-price> Total Cost: £ <%= booking.listing.price_per_night * ((booking.start_date..booking.end_date).count) %> </p>
                <p  class=card-my-booking-status> Status: <span style="color: #1EDD87">Confirmed</span> </p>

                  <%=link_to booking_path(booking.id) do %>

                    <div class="card-my-booking card-no-shadow">
                      <div class="content">
                        <h2 class="title"><%= booking.listing.name %></h2>
                        <p class="card-my-booking-info"><%= booking.listing.description %></p>
                        <p class="card-my-booking-info">Size: <%= booking.listing.size %></p>
                      </div>
                    </div>
                  <% end %>

                  <div class="owner-information">
                    <div id="booking-duration" class="pt-3">
                      <p>Start: <i class="far fa-calendar-alt"></i> <%= booking.start_date %> </p>
                      <p>End: <i class="far fa-calendar-alt"></i> <%= booking.end_date %></p>
                    </div>
<!--                     <p><i class="fas fa-user"></i> <%= booking.listing.user.first_name %> <%= booking.listing.user.last_name %> </p>
                    <p><i class="fas fa-graduation-cap"></i> <%=booking.listing.user.university %></p>
                    <p><i class="far fa-envelope"></i> <%=booking.listing.user.email%></p> -->
                  </div>

                </div>
              <% end %>
              <%# listings += 1 %>
          <% end %>

        <%# if listings == 0 %>
          <!--<p>No Listings Requests</p> -->
        <%# end %>
      </div>

  <div class="title-bookings pt-3">
    <h2>Pending Bookings</h2>
  </div>
  <div class="my-bookings-container">
      <% @bookings.each do |booking| %>
        <% if !booking.start_date.past? && booking.confirmed == nil %>

            <div class="card_price-container">
              <p  class=card-my-booking-price> Total Cost: £ <%= booking.listing.price_per_night * ((booking.start_date..booking.end_date).count) %> </p>
              <p  class=card-my-booking-status> Status: Pending </p>

                <%=link_to booking_path(booking.id) do %>

                  <div class="card-my-booking card-no-shadow">
                    <div class="content">
                      <h2 class="title"><%= booking.listing.name %></h2>
                      <p class="card-my-booking-info"><%= booking.listing.description %></p>
                      <p class="card-my-booking-info">Size: <%= booking.listing.size %></p>
                    </div>
                  </div>
                <% end %>

                <div class="owner-information">
                  <div id="booking-duration" class="pt-3">
                    <p>Start: <i class="far fa-calendar-alt"></i> <%= booking.start_date %> </p>
                    <p>End: <i class="far fa-calendar-alt"></i> <%= booking.end_date %></p>
                  </div>
<!--                   <p><i class="fas fa-user"></i> <%= booking.listing.user.first_name %> <%= booking.listing.user.last_name %> </p>
                  <p><i class="fas fa-graduation-cap"></i> <%=booking.listing.user.university %></p>
                  <p><i class="far fa-envelope"></i> <%=booking.listing.user.email%></p> -->
                </div>

              </div>
            <% end %>
            <%# listings += 1 %>
        <% end %>

      <%# if listings == 0 %>
        <!--<p>No Listings Requests</p> -->
      <%# end %>
    </div>



  <div class="title-bookings pt-3">
    <h2>Declined Bookings</h2>
  </div>
  <div class="my-bookings-container">
      <% @bookings.each do |booking| %>
        <% if !booking.start_date.past? && booking.confirmed == false %>

            <div class="card_price-container">
              <p  class=card-my-booking-price> Total Cost: £ <%= booking.listing.price_per_night * ((booking.start_date..booking.end_date).count) %> </p>
              <p  class=card-my-booking-status> Status: <span style="color: #DD3545">Declined</span> </p>

                <%=link_to booking_path(booking.id) do %>

                  <div class="card-my-booking card-no-shadow">
                    <div class="content">
                      <h2 class="title"><%= booking.listing.name %></h2>
                      <p class="card-my-booking-info"><%= booking.listing.description %></p>
                      <p class="card-my-booking-info">Size: <%= booking.listing.size %></p>
                    </div>
                  </div>
                <% end %>

                <div class="owner-information">
                  <div id="booking-duration" class="pt-3">
                    <p>Start: <i class="far fa-calendar-alt"></i> <%= booking.start_date %> </p>
                    <p>End: <i class="far fa-calendar-alt"></i> <%= booking.end_date %></p>
                  </div>
<!--                   <p><i class="fas fa-user"></i> <%= booking.listing.user.first_name %> <%= booking.listing.user.last_name %> </p>
                  <p><i class="fas fa-graduation-cap"></i> <%=booking.listing.user.university %></p>
                  <p><i class="far fa-envelope"></i> <%=booking.listing.user.email%></p> -->
                </div>

              </div>
            <% end %>
            <%# listings += 1 %>
        <% end %>

      <%# if listings == 0 %>
        <!--<p>No Listings Requests</p> -->
      <%# end %>
    </div>

      <div class="title-bookings pt-3">
        <h2>Past Bookings</h2>
      </div>
      <div class="my-bookings-container">
          <% @bookings.each do |booking| %>
            <% if booking.start_date.past? %>

                <div class="card_price-container">
                  <p  class=card-my-booking-price> Total Cost: £ <%= booking.listing.price_per_night * ((booking.start_date..booking.end_date).count) %> </p>
                  <p  class=card-my-booking-status> Status: <span style="color: #DD3545">Declined</span> </p>

                    <%=link_to booking_path(booking.id) do %>

                      <div class="card-my-booking card-no-shadow">
                        <div class="content">
                          <h2 class="title"><%= booking.listing.name %></h2>
                          <p class="card-my-booking-info"><%= booking.listing.description %></p>
                          <p class="card-my-booking-info">Size: <%= booking.listing.size %></p>
                        </div>
                      </div>
                    <% end %>

                    <div class="owner-information">
                      <div id="booking-duration" class="pt-3">
                        <p>Start: <i class="far fa-calendar-alt"></i> <%= booking.start_date %> </p>
                        <p>End: <i class="far fa-calendar-alt"></i> <%= booking.end_date %></p>
                      </div>
    <!--                   <p><i class="fas fa-user"></i> <%= booking.listing.user.first_name %> <%= booking.listing.user.last_name %> </p>
                      <p><i class="fas fa-graduation-cap"></i> <%=booking.listing.user.university %></p>
                      <p><i class="far fa-envelope"></i> <%=booking.listing.user.email%></p> -->
                    </div>

                    <%= link_to 'Add a review', new_listing_review_path(booking.listing.id), class:"btn btn-primary" %>

                  </div>
                <% end %>
                <%# listings += 1 %>
            <% end %>

          <%# if listings == 0 %>
            <!--<p>No Listings Requests</p> -->
          <%# end %>
        </div>

</div>

