<% content_for :navbar do %>
      <%= render 'shared/navbar_white' %>
 <% end %>

<div class="container mt-5">
  <h1>Booking Summary for the <%= @booking.listing.name %> </h1>
  <p>From <%= @booking.start_date %> to <%= @booking.end_date %></p>
  <% if @booking.confirmed.nil? %>
    <p>Status: Pending</p>
  <% elsif @booking.confirmed == true %>
    <p>Status: Confirmed</p>
  <% else %>
    <p>Status: Declined</p>
  <% end %>
  <p><strong>Total price: € <%= @total_price %></strong></p>
  <h2>Lender info</h2>
  <p><%= @booking.listing.user.first_name %> <%= @booking.listing.user.last_name %></p>
  <p>Email: <%= @booking.listing.user.email %></p>
  <p>University: <%= @booking.listing.user.university %></p>
</div>
