<% content_for :navbar do %>
      <%= render 'shared/navbar_white' %>
 <% end %>
<div class="container">
  <h1>Booking Confirmation</h1>
  <div class="listing-container">
    <div class="primary-image">
    <%= cl_image_tag @booking.listing.photos.first.key %>
    </div>
    <div class="listing-info">
      <div class="listing-box">
        <div class="listing-info pt-3" style="text-align:center;">
        <h2><%= @booking.listing.name %></h2>
        <p><strong>When ?</strong> <i class="far fa-calendar-alt"></i> <%= @booking.start_date %> - <i class="far fa-calendar-alt"></i> <%= @booking.end_date %></p>

          <% if @booking.confirmed.nil? %>
            <p>Status: Pending</p>
          <% elsif @booking.confirmed == true %>
            <p>Status: Declined</p>
          <% end %>
        <p><strong>Total price: £ <%= @total_price %></strong></p>
        <br>
      </div>
        <div class="border-top pt-5">
        <h3 style="font-weight: bold; text-align: center;">Lender details:</h3>
        </div>
        <div class="lender-info">
          <div class="lender-image">
            <%= cl_image_tag @booking.listing.user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar" %>
          </div>

          <div class="lender-text">
            <p><i class="fas fa-user"></i> <%=@booking.listing.user.first_name%> <%=@booking.listing.user.last_name %></p>
            <p><i class="fas fa-graduation-cap"></i> <%= @booking.listing.user.university %></p>
            <p><i class="fas fa-at"></i> Email: <%= @booking.listing.user.email %></p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
