<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%=link_to(image_tag("logo.png"), root_path, class: "navbar-brand")%>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= simple_form_for :search, url: listings_path, method: "GET", html: { class: 'search-form-control form-inline' } do |f| %>
    <%= f.input :name, label_html: {class: "label"}, input_html: {value: "", class: 'form-control string required mr-sm-2', placeholder: "White Tie" }  %>
    <%= f.input :start_date, as: :date, html5: true, label_html: {class: "label"}, input_html: {value: "", class: 'form-control mr-sm-2' }%>
    <%= f.input :end_date, as: :date, html5: true, label_html: {class: "label"}, input_html: {value: "", class: 'form-control mr-sm-2' } %>
    <%= f.submit "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Add a listing", "#", class: "dropdown-item" %>
          <%= link_to "My Bookings", "#", class: "dropdown-item" %>
          <%= link_to "My Listings", "#", class: "dropdown-item" %>
          <%= link_to "Logout", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>
