<div class="home-banner">
  <h1>FindYourFormal</h1>
</div>

<div class="gender-container">

  <%= link_to listings_path(gender: "men") do %>
    <div class="gender-button">
      <div class="gender-text">
        <p>Men</p>
      </div>
    </div>
  <% end %>

  <%= link_to listings_path(gender: "women") do %>
    <div class="gender-button">
      <div class="gender-text">
        <p>Women</p>
      </div>
    </div>
  <% end %>

</div>

<div class="cards-container">
  <div class="cards">

    <div class="card-row">

      <div class="card-container">
        <a href="#">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'bt.jpg' %>);">
            <div class="card-text">
              <p>Black Tie</p>
            </div>
          </div>
        </a>
      </div>

     <div class="card-container">
        <a href="#">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'gown.jpg' %>);">
            <div class="card-text">
              <p>Gowns</p>
            </div>
          </div>
        </a>
      </div>

    </div>

    <div class="card-row">

      <div class="card-container">
        <a href="#">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'wt.jpg' %>);">
            <div class="card-text">
              <p>White Tie</p>
            </div>
          </div>
        </a>
      </div>

      <div class="card-container">
        <a href="#">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'heels.jpg' %>);">
            <div class="card-text">
              <p>Heels</p>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>
