<% content_for :navbar do %>
      <%= render 'shared/navbar' %>
 <% end %>

<div class="home-banner">
  <h1>FindYourFormal</h1>
  <%= link_to "Explore our listings", listings_path , class: "btn btn-light" %>
</div>

<div class="gender-container">

  <%= link_to listings_path(gender: "men") do %>
    <div class="gender-button">
      <div class="gender-text">
        <p>Men</p>
      </div>
    </div>
  <% end %>

  <%= link_to listings_path(gender: "women") do %>
    <div class="gender-button">
      <div class="gender-text">
        <p>Women</p>
      </div>
    </div>
  <% end %>

</div>

<div class="cards-container">
  <div class="cards">

    <div class="card-row">

      <div class="card-container">
        <%= link_to listings_path(category: "black tie") do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'bt.jpg' %>);">
            <div class="card-text">
              <p>Black Tie</p>
            </div>
          </div>
        <% end %>
      </div>

     <div class="card-container">
        <%= link_to listings_path(category: "gown") do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'gown.jpg' %>);">
            <div class="card-text">
              <p>Gowns</p>
            </div>
          </div>
        <% end %>
      </div>

    </div>

    <div class="card-row">

      <div class="card-container">
        <%= link_to listings_path(category: "white tie") do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'wt.jpg' %>);">
            <div class="card-text">
              <p>White Tie</p>
            </div>
          </div>
        <% end %>
      </div>

      <div class="card-container">
        <%= link_to listings_path(category: "heels") do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'heels.jpg' %>);">
            <div class="card-text">
              <p>Heels</p>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
