<% content_for :navbar do %>
      <%= render 'shared/navbar_white' %>
 <% end %>

<div class="container">

  <h1>Add a Review for <%= @listing.name %></h1>

  <div class="new-review-content">
<!--     <i class="fas fa-pen"></i> -->
    <div class="new-review-form">

      <%= simple_form_for [ @listing, @review ]  do |f| %>
        <div class="form-group-review new-listing-form-item">

          <%= f.input :content, as: :text, input_html: { class: 'form-control' }, placeholder: 'This was amazing!' %>
        </div>
        <div class="form-group new-listing-form-item">
          <%= f.input :rating, input_html: { min: 1, max: 5, class: 'form-control' }, label: 'Out of 5' ,placeholder: '4' %>
        </div>
        <div class="form-group new-listing-form-item">
          <%= f.button :submit, class: "btn btn-lg", id: "create-review" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
